<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Identity-connector-smsotp-test-suite">
    <test name="smsotp-authenticator-all" preserve-order="true" parallel="false">
        <classes>
<!--            <class name="org.wso2.carbon.identity.smsotp.common.test.SMSOTPAuthenticatorTest"/>-->
<!--            <class name="org.wso2.carbon.identity.smsotp.common.test.SMSOTPUtilsTest"/>-->
            <class name="org.wso2.carbon.identity.smsotp.common.test.OnetimePasswordTest"/>
        </classes>
    </test>
</suite>